<!--The content below is only a placeholder and can be replaced.-->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode='push'>
      <mat-icon class="icon-gray" mat-button (click)="sidenav.toggle()"></mat-icon>
      <nav>
        <ul>
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/news">Top News</a></li>
        </ul>
      </nav>      
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="example-toolbar">
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon svgIcon="menu-icon">menu</mat-icon></button>
          <h1 class="example-app-name">Welcome to {{ title }}!</h1>
      </mat-toolbar>
      <app-news-feeds-list [style.marginTop.px]="mobileQuery.matches ? 56 : 0"></app-news-feeds-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>